body.index-page{
    background-color: rgb(11, 112, 244);
    font-family: Roboto;
}
.page-title{  
    font-size: 185%;
    color: azure;
    background-color: rgb(198, 47, 97);
    border-radius: 1vw; 
    padding: 0.4vw;
    width: 13.7vw;
}

        /* applies the style "page-title" only if its a child inside parent class of "index-page"*/