/* Common meaning of code:*/
/*if we do .PARENT-TAG .CHILD-TAG {....}, it applies the style "CHILD-TAG" only if its a child inside parent class of "PARENT-TAG"*/

body.common-body{
    background-color: rgb(11, 112, 244);
    font-family: Roboto;
}
.page-title{  
    font-size: 1.85rem;
    color: azure;
    background-color: rgb(227, 59, 115);
    border-radius: 1rem; 
    padding: 0.4rem 0.8rem; /* the two "rem" specifies the padding for top/bottom and left/right respectively */
    width: fit-content;
    text-align: center;
}

.mini-page-title{
    font-size: 1.2rem;
    color: azure;
    background-color: rgb(227, 59, 115);
    border-radius: 1rem; 
    padding: 0.2rem 0.8rem; /* the two "rem" specifies the padding for top/bottom and left/right respectively */
    width: fit-content;
    text-align: center;

}

.index-login{
    width: 400px;
    height: 20vh; 
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    font-size: 1.9rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5%;
}

.index-login .search-input-style{
    margin-left: 30%;
    margin-top: 5% ;
}

.index-login .search-button-style{
    background-color: rgb(227, 59, 115);
    margin-left: 30%;
    margin-top: 7% ;
    border-radius: 1rem;
    width: 80px;
    height: 30px; 
    border: burlywood;
    font-size: medium;
    color: azure;
}

.main-add-item{
    width: 400px; 
    height: 200px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh ;
    font-size: 1.3rem;
    border-radius: 12px;
    padding: 5px;
}
.main-add-item .add-item-form-section{
    display: flex;
    align-items: center;
    height: 15%;
    font-size: 20px;
    margin-top: 3%;
}

.add-item-form-section .label-section{
    width: 150px; 
    font-size: 1.2rem;
}
.main-add-item .button-style{
    background-color: rgb(227, 59, 115);
    margin-left: 70%;
    margin-top: 10% ;
    border-radius: 12px;
    width: 105px;
    height: 30px; 
    border: white;
    font-size: medium;
    color: azure;
}

.main-items-to-buy{
    margin-top: 11vh; 
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-items-to-buy .heading-style{
    display: flex;
    background-color: azure;
    height: 40px; 
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    
}

@media(min-width: 1300px) { /* media query to adjust the contents of the page depending on the screen size. The following code only applies to screen width sizes >= 1300px */
    .index-login{
        width: 30vw;
        height: 22vh; 
        background-color: azure;
        font-size: 2.3rem;
    }
    .main-add-item{
        width: 34vw;
        height: 26vh; 
        background-color: azure;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        border-radius: 12px;
        border: 10px;
        padding: 5px;

    }
    .main-add-item .add-item-form-section{
        height: 25%;
        font-size: 20px;
        margin-top: 10px;
    }

    .add-item-form-section .label-section{
        width: 150px; 
        font-size: 1.4rem;
    }

    .main-add-item .button-style{
        margin-left: 75%;
        margin-top: 3% ;
        width: 25%;
    }
    
    
}


