body.common-body{
    background-color: rgb(11, 112, 244);
    font-family: Roboto;
}
.page-title{  
    font-size: 1.85rem;
    color: azure;
    background-color: rgb(227, 59, 115);
    border-radius: 1rem; 
    padding: 0.4rem 0.8rem;
    width: fit-content;
    text-align: center;
}

.index-login{
    width: 400px;
    height: 18vh; 
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    font-size: 1.9rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5%;
}

.index-login .search-input-style{
    margin-left: 30%;
    margin-top: 5% ;
}

.index-login .search-button-style{
    background-color: rgb(227, 59, 115);
    margin-left: 30%;
    margin-top: 7% ;
    border-radius: 1rem;
    width: 80px;
    height: 30px; 
    border: burlywood;
    font-size: medium;
    color: azure;
}



@media(min-width: 1300px) {
    .index-login{
        width: 30vw;
        height: 22vh; 
        background-color: azure;
        font-size: 2.3rem;
    }
    
}


/*if we do .index-page .page-title {....}, it applies the style "page-title" only if its a child inside parent class of "index-page"*/